<section class="form-section">
  <% if notice %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <% if @expense_groups.present? %>
    <h1>Grupos de Despesa</h1>

    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Grupo</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @expense_groups.each do |expense_group| %>
            <tr>
              <td scope="row"><%= expense_group.name %></td>
              <td class="td-center">
                <% if (@expense_groups.count > 1) && (expense_group.expenses_count.zero?) %>
                  <%= link_to(
                    'Remover',
                    expense_group,
                    method: :delete,
                    data: { confirm: 'Você tem certeza?' },
                    class: 'btn btn-danger btn-sm')
                  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>
  <% end %>

  <h1>Adicionar Grupo de Despesa</h1>

  <%= render 'form', expense_group: @expense_group %>
</section>
