@import 'bootstrap/dist/css/bootstrap';

.form-section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background: #f8f9fa;
  color: #212529;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px;
  text-align: center;

  a, a:hover {
    color: #212529;
    text-decoration: none;
  }
}

.td-center {
  text-align: center
}

.td-right {
  text-align: end
}

.page-title-buttons {
  padding: 12px 0px
}

.progress-height {
  height: 25px
}

.inline-form {
  .field {
    display: inline-block;
    margin-right: 10px;
  }

  input {
    margin-top: -2.5px
  }

  .actions {
    display: inline
  }
}
