<div class="col-sm-12 btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <h1>Despesas - <%= month_label(:current, current_expense_month) %> </h1>

  <div class="page-title-buttons">
    <%= link_to(
      month_label(:prev, current_expense_month),
      send(switch_month_path, { expense_month: month_param(current_expense_month, :prev) } ),
      class: 'btn btn-outline-primary btn-sm')
    %>

    <%= link_to(
      switch_page_to,
      send(switch_page_path, { expense_month: month_param(current_expense_month) } ),
      class: 'btn btn-success btn-sm')
    %>

    <%= link_to(
      month_label(:next, current_expense_month),
      send(switch_month_path, { expense_month: month_param(current_expense_month, :next) } ),
      class: 'btn btn-outline-primary btn-sm')
    %>
  </div>
</div>
