<%= form_with(model: place, local: true) do |form| %>
  <div class="inline-form">
    <div class="field">
      <%= form.text_field :name, required: true, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit('Salvar', class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
